
html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
  }

#add-firing {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}

.ps-navigation {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

.ps-header {
    padding: 0 16px 0 0px;
}

table.statsTable  td {
    padding-left: 10px;
}