
{{ define "content" }}
<a href="/firing/{{ .firing.ID }}/edit" id="add-firing">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Edit
    </button>
</a>
    <div class="mdl-list" style="width:400px;">
        <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content">Start/End Date:</span>
            <span class="mdl-list__item-secondary-content">{{ .firing.StartDate.Format "Mon, Jan _2 3:04PM" }}<br/>{{ .firing.EndDate.Format "Mon, Jan _2 3:04PM" }}</span>
        </div>
        <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content">Starting ambient temp:</span>
            <span class="mdl-list__item-secondary-content">{{ .firing.StartDateAmbientTemp }}˚C</span>
        </div>
        <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content">Cone:</span>
            <span class="mdl-list__item-secondary-content">{{ .firing.Cone }}</span>
        </div>
        <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content">Notes:</span>
            <span class="mdl-list__item-secondary-content">{{ .firing.Notes }}</span>
        </div>
    </div>
    
    <div class="mdl-grid">

        <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="mdl-button" onclick="document.getElementById('raw-data').style='display:;';">Show Raw Data</div>
    <div class="mdl-button" onclick="addOuterData();">Show Ambient Temperatures</div>
    <table id="raw-data"style="display: none;">
    {{ range .temperatureReadings }}
        <tr><td>{{ . }}</td></tr>    
    {{ end }}
    </table>


    <script>
        var myChart;

        function addOuterData() {
            myChart.data = {
                // Labels should be Date objects
                labels: [ {{ range .temperatureReadings }}moment("{{ .CreatedDate.Format "2006-01-02 15:04:05" }}"),{{ end }} ],
                datasets: [{
                    fill: false,
                    label: 'Inner Temperature',
                    data: [{{ range .temperatureReadings }}{{ .Inner }},{{ end }}],
                    borderColor: '#fe8b36',
                    backgroundColor: '#fe8b36',
                    lineTension: 0.1,
                    yAxisID: 'A'
                },
                {
                    fill: false,
                    label: 'Outer Temperature',
                    data: [{{ range .temperatureReadings }}{{ .Outer }},{{ end }}],
                    borderColor: '#4caf50',
                    backgroundColor: '#4caf50',
                    lineTension: 0.1,
                    yAxisID: 'B'
                }]
            };

            myChart.options.scales.yAxes[1].display=true;

            myChart.update();
        }

        window.onload = function(){
            var ctx = document.getElementById("myChart").getContext('2d');

            var data = {
                // Labels should be Date objects
                labels: [ {{ range .temperatureReadings }}moment("{{ .CreatedDate.Format "2006-01-02 15:04:05" }}"),{{ end }} ],
                datasets: [{
                    fill: false,
                    label: 'Temperature',
                    data: [{{ range .temperatureReadings }}{{ .Inner }},{{ end }}],
                    borderColor: '#fe8b36',
                    backgroundColor: '#fe8b36',
                    lineTension: 0.1
                }]
            };

            myChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        xAxes: [{
                            type: "time",
                            time: {
                                unit: 'minute',
                                unitStepSize: 30,
                                round: 'minute',
                                tooltipFormat: "h:mm:ss a",
                                displayFormats: {
                                hour: 'MMM D, h:mm'
                                }
                            }
                            }],
                        yAxes: [{
                            id: 'A',
                            type: 'linear',
                            position: 'left',
                            ticks: {
                                beginAtZero:false
                            }
                        }, {
                            id: 'B',
                            type: 'linear',
                            position: 'right',
                            display: false
                        }]
                    }
                    
                }
            });
        }
            </script>
{{ end }}