
{{ define "content" }}
    <div class="mdl-list" style="width:400px;">
        <div style="display: inline-block; width:360px;">
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Start/End Date:</span>
                <span class="mdl-list__item-secondary-content">{{ .firing.StartDate.Format "Mon, Jan _2 3:04PM" }}<br/>{{ .firing.EndDate.Format "Mon, Jan _2 3:04PM" }}</span>
            </div>
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Starting ambient temp:</span>
                <span class="mdl-list__item-secondary-content">{{ .firing.StartDateAmbientTemp }}˚C</span>
            </div>
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Peak temp:</span>
                <span class="mdl-list__item-secondary-content">{{ .peakTemperature }}˚C</span>
            </div>
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Cone:</span>
                <span class="mdl-list__item-secondary-content">{{ .firing.ConeNumber }}</span>
            </div>
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Notes:</span>
                <span class="mdl-list__item-secondary-content">{{ .firing.Notes }}</span>
            </div>

        </div>
        <div style="display: inline-block; vertical-align: top;">
            <button id="notificationSettings" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">notifications</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="notificationSettings">
                <a href="/firing/{{ .firing.ID }}/edit">
                    {{ if gt .firing.LowNotificationTemp 0.0 }}<li class="mdl-menu__item">Low notification temp: {{ .firing.LowNotificationTemp }}{{ if .firing.LowNotificationSent }} <b>(sent)</b>{{ end }}</li>{{ end }}
                    {{ if gt .firing.HighNotificationTemp 0.0 }}<li class="mdl-menu__item">High notification temp: {{ .firing.HighNotificationTemp }}{{ if .firing.HighNotificationSent }} <b>(sent)</b>{{ end }}</li>{{ end }}
                </a>
            </ul>
        </div>
    </div>




    <div class="mdl-grid">

        <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect" style="margin:5px;" onclick="document.getElementById('raw-data').style='display:;';">Raw Data</div>
    <div class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect" style="margin:5px;" onclick="addOuterData();">Ambient Temp</div>
    <a href="/firing/{{ .firing.ID }}/edit" id="add-firing">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Edit
        </button>
    </a>
    <table id="raw-data" style="display: none;">
    {{ range .temperatureReadings }}
        <tr><td>{{ . }}</td></tr>
    {{ end }}
    </table>


    <script>
        var myChart;
        var innerOnlyData = {
                // Labels should be Date objects
                labels: [ {{ range .temperatureReadings }}moment("{{ .CreatedDate.Format "2006-01-02 15:04:05" }}"),{{ end }} ],
                datasets: [{
                    fill: false,
                    label: 'Temperature',
                    data: [{{ range .temperatureReadings }}{{ .Inner }},{{ end }}],
                    borderColor: '#fe8b36',
                    backgroundColor: '#fe8b36',
                    lineTension: 0.1,
                    yAxisID: 'inner'
                }]
            };

            var allData = {
                // Labels should be Date objects
                labels: [ {{ range .temperatureReadings }}moment("{{ .CreatedDate.Format "2006-01-02 15:04:05" }}"),{{ end }} ],
                datasets: [{
                    fill: false,
                    label: 'Inner Temperature',
                    data: [{{ range .temperatureReadings }}{{ .Inner }},{{ end }}],
                    borderColor: '#fe8b36',
                    backgroundColor: '#fe8b36',
                    lineTension: 0.1,
                    yAxisID: 'inner'
                },
                {
                    fill: false,
                    label: 'Outer Temperature',
                    data: [{{ range .temperatureReadings }}{{ .Outer }},{{ end }}],
                    borderColor: '#4caf50',
                    backgroundColor: '#4caf50',
                    lineTension: 0.1,
                    yAxisID: 'outer'
                }]
            };

        function addOuterData() {
            if (myChart.options.scales.outer.display == false) {
                myChart.data = allData
            } else {
                myChart.data = innerOnlyData
            }

            myChart.options.scales.outer.display=!myChart.options.scales.outer.display;

            myChart.update();
        }

        window.onload = renderChart(innerOnlyData);
    </script>
{{ end }}