{{ define "content" }}
    <ul class="firing-list">
    {{ range .firings }}
        <a href="/firing/{{ .ID }}">
            <li class="firing-row">
                {{ if gt .EndDate.Unix $.currentFiringThreshold.Unix }}
                <svg class="icon firing-row__flame" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67z"/></svg>
                {{ end }}
                <span class="firing-row__body">
                    <span class="firing-row__title">{{ .Name }} (∆{{ .ConeNumber }})</span>
                    <span class="firing-row__meta">{{ .StartDate.Format "Mon, Jan _2 3:04PM" }} ({{ .Duration }} hours)</span>
                </span>
            </li>
        </a>
    {{ end }}
    </ul>
{{ end }}
