{{ define "content" }}
    <div class="table-scroll">
    <table class="data-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Kiln Temp</th>
                <th>Ambient Temp</th>
                <th>Humidity</th>
                <th>CPU Temp</th>
                <th>Uptime</th>
                <th>Free Memory</th>
            </tr>
        </thead>
        <tbody>
        {{ range .stats }}
            <tr>
                <td>{{ .CreatedDate.Format "Mon, Jan _2 3:04:05PM" }}</td>
                <td>{{ .Temperature }}˚</td>
                <td>{{ .AmbientTemperature }}˚</td>
                <td>{{ .Humidity }}%</td>
                <td>{{ .CPUTemperature }}˚</td>
                <td>{{ .Uptime }}</td>
                <td>{{ .FreeMemory }}</td>
            </tr>
        {{ end }}
        </tbody>
    </table>
    </div>
{{ end }}
